body {
    background-color: gray;
    border-radius:50px;
}



.accent {
    fill: #white;
    stroke: #F03F35;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.montreal {
    fill: white;
    stroke: #F03F35;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st1 {
    fill: white;
    opacity: .10;
}

.st2 {
    fill: #F03F35;
}

.chiffre {
    fill: #F03F35;
}

.st3 {
    fill: #6699CC;
}

.st4 {
    fill: #996699;
}

.st5 {
    fill: #FF9933;
}

.st6 {
    fill: #99CC33;
}

#animation {
    height: 150px;
    width: 500px;
    background-color: white;
    padding-right: 700px;
    padding-left: 700px;
}

#Logo, #chiffres, #vives {
    visibility: hidden;
}
animation_texte{

    position: absolute;
    z-index: 10;

}


#Pied {
    text-align: center;
}

#section {
    height: 800px;
}


#form {
    text-align: center;
}

.case {
    display: inline;
}


#form {
    width: 200px;
    margin-left: 100px;
}



#MessageTXT {
    width: 100%;
    height: 100%;
}

#separation {
    margin-top: 50px;
    margin-bottom: 50px;
}
#centre-page {

    height:600px;
    width: inherit;


}

#pied-page{

    background-color: black;
    width: inherit;
    height: 200px;
}

p{

    margin-top: 60px;
    margin-left: 750px;

}
label{

    color: black;



}
textarea{


    color: black;
}