<header>
    <h1>Entete générer par le dossier views/partie registerPartials....</h1>
    <p><a href="/">Page Maison</a></p>
    <p><a href="accueil.html">Accueil</a></p>
    <p><a href="/projet">Projet</a></p>
    <p><a href="/direct">Projet</a></p>
</header>
