<footer><p>Pied de page générer par le dossier views/partie registerPartial</p>
     <p>Heure de création en date : {{journee}}  et à l'heure : {{obtenirHeure}} et l'auteur est : {{majusculeTXT auteur}}</p>
</footer>